* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header */
header {
  padding: 20px 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ul-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 30px;
  font-weight: bold;
}

.ul-menu a {
  color: black;
}

.ul-menu a:hover {
  color: #0282f9;
}

a {
  text-decoration: none;
}

/* main */
main {
  padding: 55px 320px 20px 320px;
  background-color: #1c1c1c;
  color: white;
  font-size: 16px;
  position: relative;
}

.jumbotron {
  background-image: url(assets/img/jumbotron.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

header a:hover {
  padding-bottom: 56px;
  border-bottom: 5px solid #0282f9;
}

.container-comics {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.comic-card {
  width: calc((100% - 150px) / 6);
}

.comic-img {
  width: 100%;
  height: 188.33px;
  object-fit: fill;
}

.container-btn {
  text-align: center;
  padding-top: 50px;
}

.btn-comic {
  text-align: center;
  padding: 10px 60px;
  background-color: #0282f9;
  display: inline-block;
  font-weight: bold;
}

.btn-comic:hover {
  cursor: pointer;
  color: #0282f9;
  background-color: white;
}

.series {
  position: absolute;
  top: -35px;
  left: 300px;
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  background-color: #0282f9;
  padding: 15px 30px;
}

/* footer */

.footer-top {
  padding: 55px 360px;
  background-color: #0282f9;
  position: relative;
  z-index: 2;
}

.f-top-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 70px;
  justify-content: space-between;
}

.f-top-menu a {
  color: white;
  font-size: 14px;
}

.f-top-menu li:hover {
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.card-img {
  height: 50px;
}

.card-img img {
  height: 100%;
}

.card-w {
  width: 40px;
}

.card-w img {
  width: 100%;
}

.footer-center {
  background-image: url(./assets/img/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.container {
  padding: 0px 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-links {
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  color: rgba(255, 255, 255, 0.5);
  gap: 30px;
}

ul {
  list-style-type: none;
}

.list-title {
  padding-bottom: 25px;
  font-weight: bold;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
}

.list-title2 {
  padding-top: 25px;
}

.image-dc {
  width: 560px;
  position: absolute;
  right: 290px;
  top: -110px;
}

.footer-bottom {
  background-color: #303030;
  padding: 30px 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.btn {
  padding: 15px;
  border: 2px solid #0282f9;
  color: white;
  font-weight: bold;
}

.container-footer-bottom {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.btn-follow {
  color: #0282f9;
  font-weight: bold;
}

.icons-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}